
.tileDetails{
    width: 204px;
    height: 241px;
    display: flex;
    flex-direction: column;
}
.tooltip{
    background-color:transparent;
    color:white;
    text-align:end;
    position: relative;
    left:90%;
}
.infoIcon{
    width: 15px !important;
    height: 15px  !important;
}
.star{
    width: 40px;
    height: 40px;
opacity: 1;
}
.tileObjectHeading{
    text-align: center;
font: normal normal normal 17px/21px Chicken Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.numbers{
    text-align: center;
font-weight:bold !important;
font-size: 32px !important;
letter-spacing: 0px;
color: #FFFFFF;
text-shadow: 0px 3px 6px #00000029;
opacity: 1;
}
.previous{
    text-align: center;
font: normal normal normal 21px/25px Chicken Sans;
letter-spacing: 0px;
color: #FDFDFD;
opacity: 1;
}
.nextStar{
    text-align: center;
font: normal normal normal 17px/21px Chicken Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.starsRating{
    text-align: center;
}
.valueIndicator{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.indicator{
    width: 23px;
    height: 20px;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    
    border-top: 14px solid white;
    position: relative;
    margin-top: 10px;
    
  }
  .arrow-down::after{
     content: " "; 
     position: absolute;
     top: -12px;
     left: -7px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  
    border-top: 8px solid red;
  }

  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 14px solid white;
    position: relative;
    margin-top: 10px;
  }
  .arrow-up::after{
     content: " "; 
     position: absolute;
    top:4px;
    left:-7px; 
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  
    border-bottom: 8px solid green;
  }